{% extends 'admin_pages/base.html' %}
{% load static %}

{% block content %}

<div class="product-item1">
{% for product in products %}
    <div>
        <div>
            <a href="{{ product.get_absolute_url }}">
                <b>{{ product.pk }}. {{ product.name }}</b>
            </a>
        </div>
        <div>Категория товара: <span>{{ product.category }}</span></div>
        <div><i>{{ product.description }}</i></div>
        <div>
            {% if product.image %}
                <img src="{{ product.image.url }}" width="200" height="auto">
            {% else %}
                <img src="{% static 'img/no_image.jpg' %}" width="200" height="auto">
            {% endif %}
        </div>
        <div>Цена: <span>{{ product.price }}</span></div>
        <div>
            {% if product.available %}
                <span>Доступен к продаже</span>
            {% else %}
                <span>Недоступен к продаже</span>
            {% endif %}
        </div>
        <div>Дата создания позиции: <span>{{ product.created_at }}</span></div>
        <br>
    </div>
{% endfor %}
</div>

{% endblock content %}